.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
resources
.idea
content/.obsidian
assets/indices/linkIndex.json
assets/indices/contentIndex.json
linkmap
